:root{
  width: 100vh;
  background-image: url("src/assets/background_menu.jpg");
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
}



.main-footer{
  display: flex;
  width: 100%;
  height: 40px;
}


.chose-category{
  position: relative;
  top: 650px;
  left: 95%;
  margin: auto;
  margin-top: -630px;
}



.cart-container{
  position: static;
  
  top: 20px;
  left: 40px;
  background-color: #edecec;
  border-radius: 10px;
  height: 650px;
  width: 65%;
  overflow: auto;
}

.element-no{
  background-color: "#edecec"
}

.cart-header-text{
  position: relative;
  left: 25%;
  font-size: 30px;
  margin-top: 15px;
  font-family:'Times New Roman', Times, serif;
}

.cart-header{
  display: flex;
  position: sticky;
  height: 13%;
  text-align: center;
  top: 0;
  z-index: 999;
  background-color: #edecec;
}

.cart-element{ 
  margin-left: 10px;
  margin-top: 10px;
  height: 100px;
  border-radius: 20px;
  width: 95%;
  background-color: rgb(185, 178, 171);
}

.cart-element-text{
  display: inline-block;
  width: 80%;
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 10px;
  margin-top: 10px;
}

.cart-footer{
  display: flex;
  height: 12%;
  position:fixed;
  border-radius: 8px;
  bottom: 45px;
  width: 30%;
  z-index: 999;
  background-color: #edecec;
}

.client-textfield{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.data-grid{
  position: relative;
  left: 40%;
}

.alert-div{
  position: fixed;
  width: 500px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}